.btn {
    float: right !important;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-block{
    text-align: justify;
    text-align-last: center;
    padding: 10px;
}{
    float: right !important;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-block{
    text-align: justify;
    text-align-last: center;
    padding: 10px;
}

h4{
    border: 2px solid #0066FF;
    background-color:#FFCC33;
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:20px;
    margin-right:20px;
    text-align: center;
}


#betOptions {
    margin:4px;
    float: left;
    position:relative;
    left: 30%;
    list-style:none;
}

#betOptions label {
    float: left;
    position:relative;
    left: 15%;
    list-style:none;
    width:170px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#betOptions label span {
    text-align:center;
    font-size: 32px;
    padding:13px 0px;
    display:block;
}

#betOptions label input {
    position:absolute;
    top:-20px;
}

#betOptions input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

#betOptions .firstTeam {
    background-color:#00BFFF;
    color:#333;
}

#betOptions .secondTeam {
    background-color:#FFCC00;
    color:#333;
}
#couponCreator{
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}
#couponMatchesHeader{
    font-family: 'Akronim', cursive;
    font-size: 55px;
    padding-left: 550px;
}
#roundCounter{
    padding-left: 20px ;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}
#matchesTable{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
}
#selectionButton{
    text-decoration: none;
    text-align: center;
    color: #3cbabe;
    border: 2px solid #3cbabe;
    border-radius: 4px;
    width: 100px;
    line-height: 30px;
    display: inline-block;
    font-family: Arial;
    font-weight: 600;
}

#selectionButton:hover{
    background-color: #3cbabe;
    color: #ffffff;
    border-bottom: 2px solid #319598;
}
