#maleLabel{
    padding-left: 20px;
    border-left-width: 0px;
    margin-left: 90px;
}

.btn{
    -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
    box-shadow:inset 0px 1px 0px 0px #9fb4f2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
    background-color:#7892c2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}

.selectedBtn {
    -moz-box-shadow: inset 0px 1px 0px 0px #9fb4f2;
    -webkit-box-shadow: inset 0px 1px 0px 0px #9fb4f2;
    box-shadow: inset 0px 1px 0px 0px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #04122b), color-stop(1, #476e9e));
    background: -moz-linear-gradient(top, #04122b 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #04122b 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #04122b 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #04122b 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #04122b 5%, #476e9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04122b', endColorstr='#476e9e', GradientType=0);
    background-color: #04122b;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #072ea6;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.jumbotron {
    background: none;
    border-left-width: 300px;
    margin-left: 300px;
    width: 1064px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    font-family: sans-serif;
    background-size: cover;
    bacground-position: center;
    overflow: hidden;
}
#sendButton{
    margin-left: 130px;
}
.errors {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}


