input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
#matches{
    border: none;
    width : 100%;
    display: inline;
    font-family: inherit;
    font-size: inherit;
}
#possibleWin {
    border: none;
    width : 200px;
    display: inline;
    font-family: inherit;
    font-size: inherit;
}
#couponNum{
    border: none;
    background-color: red;
    width : 300px;
    display: inline;
    font-family: inherit;
    font-size: inherit;
}